<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * Application java
 * @Author : Youngho Jo
 *
 * [API 호출 트래픽 Level 5 Steps]
 * Level 1 : 게시글 목록 호출 (article_list)
 * Level 2 : 게시글 내용 호출 (article_detail)
 * Level 3 : 게시글 쓰기 호출 (article_write)
 * Level 4 : 파일 업로드 호출 (file_upload)
 * Level 5 : 파일 다운로드 호출 (file_download)
 -->	
<mapper namespace="apiCall">

	<insert id="insertApiCall" parameterType="map">
		INSERT
	 	INTO
	 		api_call(article_list, article_detail, article_write, file_upload, file_download, api_date)
		VALUES
		<choose>
			<when test = 'apiLevel.equals("apiLevel1")'>
					(1, 0, 0, 0, 0, now())			
			</when>
			<when test = 'apiLevel.equals("apiLevel2")'>			 
					(0, 1, 0, 0, 0, now())			
			</when>
			<when test = 'apiLevel.equals("apiLevel3")'>
					(0, 0, 1, 0, 0, now())			
			</when>
			<when test = 'apiLevel.equals("apiLevel4")'>		 
					(0, 0, 0, 1, 0, now())			
			</when>			
			<when test = 'apiLevel.equals("apiLevel5")'>		 
					(0, 0, 0, 0, 1, now())			
			</when>			
		</choose>
	</insert>
	
</mapper>