<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * Application java
 * @Author : Youngho Jo
 -->	
<mapper namespace="article">
	<select id="getBoardList" resultType="com.worksmobile.openhome.model.Board">

		SELECT 
			boardOrderNum, boardTitle, boardNum
		FROM 
			board
		ORDER BY
			boardOrderNum
	</select>
	<select id="getArticleList" resultType="com.worksmobile.openhome.model.Article">
		SELECT 
			@ROWNUM := @ROWNUM +1 as ROWNUM,
			a.boardNum, a.articleNum, articleSubject, articleTextContent, articleDate, articleWriter
		FROM 
			article a, ( SELECT @ROWNUM := 0 ) R
		WHERE
			boardNum = #{boardNumber}
		AND
			articleStatus = 'Y'
		ORDER BY
			articleNum DESC
		LIMIT 
			#{startNum}, #{pageSize} 
	</select>		
	<select id="getArticleTotalCount" resultType="int">
		SELECT 
			COUNT('articleNum') as countAll
		FROM 
			article
		WHERE
			boardNum = #{boardNumber}
		AND
			articleStatus = 'Y'
	</select>
	<!-- admin -->
	<select id="getArticleListAdmin" resultType="com.worksmobile.openhome.model.Article">
		SELECT @ROWNUM := @ROWNUM +1 as ROWNUM, boardTitle, boardNum, articleNum, articleSubject, articleDate, articleWriter
		FROM(
			SELECT
				b.boardTitle as boardTitle, a.boardNum as boardNum, a.articleNum as articleNum, articleSubject, articleDate, articleWriter
			FROM
				article a, board b
			WHERE
				a.boardNum = b.boardNum
			AND
				articleStatus = 'Y'
			ORDER BY
				articleNum DESC
			LIMIT
				#{startNum}, #{pageSize}
			) c , ( SELECT @ROWNUM := 0 ) R
	</select>		
	<select id="getArticleTotalCountAdmin" resultType="int">
		SELECT 
			COUNT('articleNum') as countAll
		FROM 
			article
		WHERE
			articleStatus = 'Y'
	</select>
				
	<select id="getArticleDetails" resultType="com.worksmobile.openhome.model.Article">
		SELECT 
			boardNum, articleNum, articleSubject, articleContent , articleDate, articleWriter, articleAccessPwd 
		FROM 
			article
		WHERE
			articleNum = #{articleNumber}
	</select>
	
	<select id="getAllArticles" resultType="com.worksmobile.openhome.model.Article">
		SELECT 
			@ROWNUM := @ROWNUM +1 as ROWNUM,
			b.boardTitle, a.boardNum, articleNum, articleSubject, articleContent , articleDate, articleWriter, articleAccessPwd 
		FROM 
			article a, board b, ( SELECT @ROWNUM := 0 ) R
		WHERE
			a.boardNum = b.boardNum
		AND
			a.articleStatus = 'Y'
	</select>

	<delete id="removeArticle" parameterType="com.worksmobile.openhome.model.Article">
		DELETE 
		FROM
			article 
		WHERE
			articleNum = #{articleNum}
	</delete>
	
	<!-- @author suji -->
	
	<insert id="addArticleNum" parameterType="com.worksmobile.openhome.model.Article" useGeneratedKeys="true" keyProperty="articleNum">
		INSERT INTO article(boardNum) VALUES (#{boardNum})
	</insert>
	
	<update id="addArticle" parameterType="com.worksmobile.openhome.model.Article">
	 	UPDATE 
	 		article 
	 	SET 
	 		articleSubject = #{articleSubject}, 
	 		articleTextContent = #{articleTextContent},
	 		articleContent = #{articleContent}, 
	 		articleDate = now(), 
	 		articleWriter = #{articleWriter}, 
	 		articleAccessPwd = #{articleAccessPwd},
	 		articleStatus = #{articleStatus}
	 	WHERE 
	 		articleNum = #{articleNum}
	 	AND
	 		articleStatus = 'N'
	</update>
	
	<select id="getArticle" parameterType="int" resultType="com.worksmobile.openhome.model.Article">
		SELECT *
		FROM article
		WHERE articleNum = #{articleNum}
	</select>
	
	<delete id="removeOwnArticle" parameterType="int">
		DELETE
		FROM article
		WHERE articleNum = #{articleNum}
	</delete>
	
	<update id="modArticle" parameterType="com.worksmobile.openhome.model.Article">
		UPDATE
			article
		SET
			articleSubject = #{articleSubject}, 
	 		articleTextContent = #{articleTextContent},
	 		articleContent = #{articleContent}, 
	 		articleDate = now()
	 	WHERE 
	 		articleNum = #{articleNum}
	</update>
	
	<select id="searchArticle" parameterType="map" resultType="com.worksmobile.openhome.model.Article">
		SELECT @ROWNUM := @ROWNUM +1 as ROWNUM, c.*
		FROM
			(	SELECT a.*, count(fileNum) AS fileCount
				FROM article a
				LEFT JOIN attachmentfile as f ON a.articleNum = f.articleNum
		        LEFT JOIN article_comment as c ON a.articleNum = c.article_num
				WHERE
					a.articleStatus = 'Y'
				<if test = 'boardnum != ""'>
				AND a.boardNum = #{boardnum}
				</if>
				<if test = 'content != ""'>
				<if test= 'searchType.equals("0")'>
				AND (a.articleSubject LIKE CONCAT('%', #{content}, '%')
				OR a.articleTextContent LIKE CONCAT('%', #{content}, '%')
				OR f.originalFileName LIKE CONCAT('%', #{content}, '%'))
				</if>
				<if test= 'searchType.equals("1")'>
				AND ( a.articleSubject LIKE CONCAT('%', #{content}, '%')
				OR a.articleTextContent LIKE CONCAT('%', #{content}, '%'))
				</if>
				<if test= 'searchType.equals("2")'>
				AND a.articleSubject LIKE CONCAT('%', #{content}, '%')
				</if>
				<if test= 'searchType.equals("3")'>
				AND a.articleTextContent LIKE CONCAT('%', #{content}, '%')
				</if>
				<if test= 'searchType.equals("4")'>
				AND f.originalFileName LIKE CONCAT('%', #{content}, '%')
				</if>
				<if test= 'commentAnswer.equals("true")'>
				OR c.comment_content LIKE CONCAT('%', #{content}, '%')
				</if>
				</if>
				<if test = 'writer != ""'>
				AND a.articleWriter LIKE CONCAT('%', #{writer}, '%')
				</if>
				<if test = 'startDate != "" and endDate != ""'>
				<![CDATA[
				AND Date(a.articleDate) >= #{startDate} AND  Date(a.articleDate) <= #{endDate}
				]]> 
				</if>
				GROUP BY a.articleNum
				<if test = 'fileAnswer.equals("true")'>
				HAVING fileCount > 0
				</if>
				ORDER BY a.articleNum desc ) c, ( SELECT @ROWNUM := 0 ) R
	</select>

</mapper>