<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * Application java
 * @Author : Youngho Jo
 -->	
<mapper namespace="article">
	<select id="getArticleList" resultType="com.worksmobile.openhome.model.Article">
		SELECT 
			@ROWNUM := @ROWNUM +1 as ROWNUM,
			a.boardNum, a.articleNum, articleSubject, articleTextContent, articleDate, articleWriter
		FROM 
			article a, ( SELECT @ROWNUM := 0 ) R
		WHERE
			boardNum = #{boardNumber}
		AND
			articleStatus = "Y"
		LIMIT 
			#{startNum}, #{pageSize} 
	</select>		


	<select id="getArticleTotalCount" resultType="int">
		SELECT 
			COUNT('articleNum') as countAll
		FROM 
			article
		WHERE
			boardNum = #{boardNumber}
		AND
			articleStatus = 'Y'
	</select>
			
	<select id="getArticleDetails" resultType="com.worksmobile.openhome.model.Article">
		SELECT 
			boardNum, articleNum, articleSubject, articleContent , articleDate, articleWriter, articleAccessPwd 
		FROM 
			article
		WHERE
			articleNum = #{articleNumber}
	</select>
	
	<select id="getAllArticles" resultType="com.worksmobile.openhome.model.Article">
		SELECT 
			@ROWNUM := @ROWNUM +1 as ROWNUM,
			boardTitle, a.boardNum, articleNum, articleSubject, articleContent , articleDate, articleWriter, articleAccessPwd 
		FROM 
			article a, board b, ( SELECT @ROWNUM := 0 ) R
		WHERE
			a.boardNum = b.boardNum
		AND
			a.articleStatus = 'Y'
	</select>

	<delete id="removeArticle" parameterType="com.worksmobile.openhome.model.Article">
		DELETE 
		FROM
			article 
		WHERE
			articleNum = #{articleNum}
	</delete>
	
	<!-- @author suji -->
	<update id="addArticle" parameterType="com.worksmobile.openhome.model.Article">
	 	UPDATE 
	 		article 
	 	SET 
	 		articleSubject = #{articleSubject}, 
	 		articleTextContent = #{articleTextContent},
	 		articleContent = #{articleContent}, 
	 		articleDate = now(), 
	 		articleWriter = #{articleWriter}, 
	 		articleAccessPwd = #{articleAccessPwd},
	 		articleStatus = #{articleStatus}
	 	WHERE 
	 		articleNum = #{articleNum}
	 	AND
	 		articleStatus = 'N'
	</update>
	
	<insert id="addArticleNum" parameterType="com.worksmobile.openhome.model.Article" useGeneratedKeys="true" keyProperty="articleNum">
		INSERT INTO article(boardNum) VALUES (#{boardNum})
	</insert>
	
	<select id="getArticle" parameterType="int" resultType="com.worksmobile.openhome.model.Article">
		SELECT *
		FROM article
		WHERE articleNum = #{articleNum}
	</select>
	
	<delete id="removeOwnArticle" parameterType="int">
		DELETE
		FROM article
		WHERE articleNum = #{articleNum}
	</delete>
	
</mapper>