<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * Application java
 * @Author : Youngho Jo
 *           Suji    Jang
 -->	
<mapper namespace="board">
	<select id="getArticleList" resultType="com.worksmobile.openhome.model.Message">
		SELECT 
			@ROWNUM := @ROWNUM +1 as ROWNUM,
			m.board_num, m.message_num, message_subject, message_sample, message_date, message_writer
		FROM 
			message m, ( SELECT @ROWNUM := 0 ) R
		WHERE
			board_num= #{boardNumberInt}
		LIMIT 
			#{startNum}, #{pageSize} 
	</select>		


	<select id="getCount" resultType="com.worksmobile.openhome.model.Message">
		SELECT 
			COUNT('message_num') as countAll
		FROM 
			message
		WHERE
			board_num= #{boardNumberInt}
	</select>
			
	<select id="getArticleDetails" resultType="com.worksmobile.openhome.model.Message">
		SELECT 
			message_subject, message_content, message_date, message_writer, message_pwd, board_num, message_num
		FROM 
			message
		WHERE
			message_num= #{originalMessageNum}
	</select>
	
	<select id="getTraffic" resultType="com.worksmobile.openhome.model.Traffic">
		SELECT traffic_num, traffic_content_length, traffic_kind, traffic_date, traffic_ip
		FROM traffic
	</select>
	<select id="getTrafficCount" resultType="com.worksmobile.openhome.model.Traffic">
		SELECT count(*) as countAll
		FROM traffic
	</select>
	
	<!-- @author suji -->
		<insert id="message_insert" parameterType="com.worksmobile.openhome.model.Message" useGeneratedKeys="true" keyProperty="message_num">
		insert into message(board_num, message_subject, message_sample, message_content, message_date, message_writer, message_pwd)
		values(#{board_num}, #{message_subject}, #{message_sample}, #{message_content}, now(), #{message_writer}, #{message_pwd})
		<selectKey resultType="int" keyProperty="message_num" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="file_insert" parameterType="com.worksmobile.openhome.model.File_uploadDTO">
			insert into file_upload(message_num, original_file_name, stored_file_name, stored_date, file_size, file_creater) 
			values
			<foreach collection="list" item="item" separator=",">
			(#{item.message_num}, #{item.original_file_name}, #{item.stored_file_name}, now(), #{item.file_size}, #{item.file_creater})
			</foreach>
	</insert>
</mapper>