<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * Application java
 * @Author : Youngho Jo
 -->	
<mapper namespace="traffic">
	
	<select id="getTrafficData" resultType="com.worksmobile.openhome.model.Traffic">
		SELECT trafficNum, trafficContentLength, trafficKind, trafficDate
		FROM traffic
	</select>
	<select id="getTrafficCount" resultType="int">
		SELECT count(*) as countAll
		FROM traffic
	</select>
	
	<insert id="insertContentLength" parameterType="com.worksmobile.openhome.model.Traffic">
		INSERT
		INTO
			traffic(trafficContentLength, trafficKind, trafficDate)
		VALUES 
			( #{trafficContentLength}, #{trafficKind}, now() )
	</insert>	
</mapper>