#wrap .container.home{
	border-top:1px solid #ccc;
	border-left:2px solid #ccc;
	border-right:2px solid #ccc;
	border-bottom:4px solid #ccc;
	width:40%;
	height:315px;
	float:left;
	margin:1%;
}
table{
	table-layout:fixed;
}
th{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
td{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.boardtitle.tt{
	font-weight:bold; 
	font-size:20px; 
	margin:5px; 
}
.boardtitle:hover{
	color:#1EC800;
	text-decoration:none;
}
.boardtds:hover{
	color:#1EC800;
	text-decoration:none;
}
.boardtds:link, .boardtds:visited{
	color: black;
}
.container.home{
	display:none;
}
.container.board{
	display:none;
}
.container.read{
	display:none;
}
