*{
	padding:0px;
	margin:0px;
}

body{

}

#wrap{
	width:100%;
	height:100%;
	
}

#header{
	/* background-color:red; */
	position:relative;
	width:100%;
	height:100px;
	border-bottom: none;
}

#center{
	position: absolute;
    top: 50px;
    bottom: 30px;
/*     left: -1px;
    right: -1px; */
    z-index: 20;
    overflow: hidden;
    width: 100%;
   /*  max-width: 1280px; */
    margin: 0 auto;
   /*  border-left: 1px solid #5d5d5d;
    border-right: 1px solid #5d5d5d; */
    background-color: #fff;
		
}

#menu{
	/* background-color:blue; */
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:249px;
	border-right: 1px solid #5d5d5d;
}

#center-right{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:250px;
}

#top{
	/* background-color:yellow; */
	position:relative;
	border-bottom: none;
	height:10%;
}

#body{
	/* background-color:green; */
	position:relative;
	height:90%;
	overflow:auto;
}

#footer{
	position: absolute;
    bottom: 0;
   /*  background-color: purple; */
    width: 100%;
    border-top: 1px solid #5d5d5d;
    height: 29px;
}